@import url(/SquareEyes/footer.css);
@import url(/SquareEyes/menu.css);

:root {
    --background: #0E0E0E;
    --white: #d9d9d9;
    --green: #06A917;
    --footer: #0A0A0A;
    --darkblue: #072531;
    --lightblue: #229FCF;
    --button: #106b8d #072531;
}

body {
    background-color: var(--background);
    margin: 0;
    color: var(--white);
    font-family: 'Cairo', sans-serif;
}



/*=======================Main under=======================*/

main {
    padding-bottom: 60px;
}

.pagename {
    margin-left: 5%;
    margin-top: 3em;
    position: relative;
    padding: 0;
}

/* ---------------- Featured movie under ---------------*/

.sectionmain { 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    margin: 20px;
}

.headerimg {
    display: block;
    box-shadow: 0 0 20px 10px rgba(207, 149, 83, 0.7); 
    margin: 1em auto 0;
    width: 90%;
    height: 90%;
    /* margin: 0 130px;   */
    z-index: 1;    
}

.maintext {
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-family: 'Bruno Ace SC', sans-serif;
    font-size: 4vw;
}

.textHeaderContainer {
    padding-top: 20px;
    padding-left: 50px;
}

.textheader {
    position: absolute;
}

/* ---------------- Featured movie above ---------------*/


/* ---------------- All movies under ---------------*/


.movieImg img{
    max-width: 450px;
    transition: 0.3s ease;
}

.movieImg img:hover{
    transition: 0.3s ease;
    transform: scale(1.1);
    cursor: pointer;
}

.sectionmovies1, .sectionmovies2, .sectionmovies3 {
    padding-top: 2%;     
}

.container {
    margin: 0 150px;
}

.title-container {
    padding-bottom: 5px;
}

.title-headline {
    margin: 0;
}

.items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.textoverlaymovie {
    position: absolute;
    color: var(--white);
    font-size: 0.6vw;
    padding: 5px 0px 0px 5px;
} 

h3 {
    margin: 0;
}

/*----------------All movies above--------------*/

/*=======================Main above=========================*/









@media screen and (max-width: 2560px) {

} 


@media screen and (max-width: 768px){
    
}
