@import url(/SquareEyes/footer.css);
@import url(/SquareEyes/menu.css);
@import url(/SquareEyes/hover.css);

@import url(/SquareEyes/media-menu.css);
@import url(/SquareEyes/media-footer.css);

:root {
    --background: #0E0E0E;
    --white: #d9d9d9;
    --whitefaded: #d9d9d97c;
    --green: #06A917;
    --footer: #0A0A0A;
    --blackfaded: #141414d4;
}

body {
    background-color: var(--background);
    margin: 0;
    color: var(--white);
    font-family: 'Cairo', sans-serif;
}




/*=======================Main under=======================*/

main {
    padding-bottom: 60px;
    padding-top: 100px;
}

/* Removes all text margin */
h1, h2, h3, h4, h5, p {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------Background image and shadow under----------*/
.image-container {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 100%;
}

.background-img {
    width: 100%;
    height: 100%;
}

.shadow-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

/*----------Background image and shadow above----------*/

.item-container {
    position: absolute;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4 {
    font-size: 25px;
    margin: 0 0 5px  0;
}

.minilogo {
    max-width: 150px;
}

.name, .email {
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
    background-color: var(--blackfaded);
    border-radius: 10px;
    border-color: var(--white);
    padding-left: 20px;
    font-size: 16px;
    color: var(--white);
    border: none;
    outline: 2px solid var(--whitefaded);
}

.typetext {
    width: 500px;
    height: 200px;
    background-color: var(--blackfaded);
    border-radius: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 16px;
    color: var(--white);
    font-family: 'Cairo', sans-serif;
    border: none;
    outline: 2px solid var(--whitefaded);
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    width: 200px;
    background-image: linear-gradient(to bottom, #072531, #106B8D, #106B8D, #072531);
    color: var(--white);
    border-radius: 50px;
    border: none;
    outline: 2px solid var(--whitefaded);
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    transition: 0.3s ease;
    transform: scale(1.1);
    cursor: pointer;
}
