@import url(/SquareEyes/footer.css);
@import url(/SquareEyes/menu.css);
@import url(/SquareEyes/hover.css);

:root {
    --background: #0E0E0E;
    --white: #d9d9d9;
    --whitefaded: #d9d9d97c;
    --green: #06A917;
    --footer: #0A0A0A;
}

body {
    background-color: var(--background);
    margin: 0;
    color: var(--white);
}

a {
    text-decoration: none;
}

a:visited {
    color: var(--white);
}



/*=======================Main under=======================*/

main {
    padding-bottom: 60px;
    padding-top: 60px;
}

.h1box {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 100px;
}

h1 {
    font-size: 70px;
}




/* ====== Order container ======*/


.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-height: 600px;
}

.order-container {
    box-sizing: border-box;
    width: 600px;
    align-content: space-between;
    display: grid;
    justify-content: center;
}

/* Image */

.img-container img{
    max-width: 600px;
    max-height: 600px;
    z-index: -1;
    box-shadow: 0 0 25px 5px rgba(255, 255, 255, 0.349);
}

.img-container {
    display: grid;
    justify-content: right;
}

/* Title and price */

.titlebox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid var(--white);
    max-height: 50px;
}

.price {
    display: grid;
    justify-content: right;
}

h2 {
    margin: 0;
    font-size: 40px;
}

/* Payment method, paypal, visa, mastercard */

.pay-method-img {
    max-width: 70px;
}

.payment-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center; 
    gap: 10px;
}

.pp {
    justify-self: end;
}

.visa {
    justify-self: center;
}

.mc {
    justify-self: left;
}

.pp, .visa, .mc {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-circle {
    display: inline-grid;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-left: auto;  
}

.circle {
    border: 2px solid var(--white);
    border-radius: 50px;
    max-width: 20px;
    max-height: 20px;  
}

/* Card information */

.info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.exp-cvc-box {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.typefield {
    width: 100%; 
    padding: 10px;
    height: 50px;
    box-sizing: border-box;
    color: var(--white);
    border: none;
    background-color: var(--textfield);
    outline: 2px solid var(--whitefaded);
    border-radius: 10px;
} 

/*----- Button -----*/

.btn-container {
    display: grid;
    gap: 20px;
}

.btnbox, .cancelbox {
    display: grid;
    justify-content: center;
    /* margin-top: 10px; */
}

.btn {
    width: 300px;
    height: 60px;
    background-image: 
    linear-gradient(to bottom, #072531, #106B8D, #106B8D, #072531);
    color: var(--white);
    border-radius: 50px;
    border: none;
    outline: 2px solid var(--whitefaded);
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    transition: 0.3s ease;
    transform: scale(1.1);
    cursor: pointer;
}


/*----- Suggested movies under -----*/

.movie-container {
    padding-top: 150px;
    display: flex;
    justify-content: center;
}


.movie-itembox {
    display: flex;
    flex-direction: column;
    max-width: 1900px;
    padding: 0;
}

.text-container {
    display: flex;
}

.movies { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.movie {
    width: 350px;
}

