:root {
    --background: #0E0E0E;
    --white: #d9d9d9;
    --darkblue: #072531;
    --lightblue: #229FCF;
    --green: #06A917;
    --footer: #0A0A0A;
}

body {
    background-color: var(--background);
    margin: 0;
    color: var(--white);
    font-family: 'Cairo', sans-serif;
}


/*------------------ Menu under ------------------*/

.navmodul {
    position: relative;
    width: 100%;
    height: 150px;
}

.sectionnav {
    display: flex;
    height: inherit;
    justify-content: center;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

.logo {
    position: absolute;
    cursor: pointer;
    width: auto;
    height: 100px;
    top: 15%;
    left: 2%;
    z-index: 2;
}

.profileimg {
    position: absolute;
    cursor: pointer;
    width: auto;
    height: 100px;
    top: 15%;
    right: 2%;
    z-index: 2;
}

.menu { 
    margin-top: 45px;
    font-size: 25px; 
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 45px; 
}

.menu ul li {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

li a {
    text-decoration: none;
    color: var(--white);
}

a:visited {
    color: var(--white);
}

/*------------------ Menu above ------------------*/

/*=======================Main under=======================*/

main {
    padding-top: 100px;
    padding-bottom: 100px;
}

.line-container {
    display: flex;
    justify-content: center;
}

.line {
    background-color: var(--white);
    height: 2px;
    width: 200px; 
}

h1 {
    display: flex;
    justify-content: center;
}

.box1, .box2, .box3  {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.box1 img {
    max-width: 600px;
    padding-right: 40px;
}

.box2 img {
    max-width: 600px;
    padding-left: 40px;
}

.box4 {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 60px;
}

.box4 img {
    height: 80px;
}

.textbox {
    max-width: 600px;
    text-align: center;
    align-self: center;
    font-size: large;
}

/*=======================Main above=======================*/

/*--------------------Footer under--------------------*/

footer {
    background-color: var(--footer);
}

.item-block {
    margin: 0 40%;
    padding: 40px 0 20px 0;
}

.footer-info {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 20px;
    padding: 0;
}

.footer-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 30px;
    padding: 0;
}

.line-block{
    display: flex;
    justify-content: center;
}

.footer-line {
    background-color: var(--white);
    height: 2px;
    width: 150px;
}

.footer-logo-block {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    cursor: pointer;
}
.footer-logo {
    height: 80px;
    width: auto;
}

/*-----------------Footer above------------------*/