@import url(/SquareEyes/footer.css);
@import url(/SquareEyes/menu.css);
@import url(/SquareEyes/hover.css);

@import url(/SquareEyes/media-menu.css);
@import url(/SquareEyes/media-footer.css);

:root {
    --background: #0E0E0E;
    --white: #d9d9d9;
    --whitefaded: #d9d9d97c;
    --green: #06A917;
    --footer: #0A0A0A;
}

body {
    background-color: var(--background);
    margin: 0;
    color: var(--white);
    font-family: 'Cairo', sans-serif;
}


/*=======================Main under=======================*/

main {
    padding-bottom: 60px;
}

/* Removes all text margin */
h1, h2, h3, h4, h5, p {
    margin: 0;
}

.pagename {
    margin-top: 2%;
    margin-left: 5%;
    position: relative;
    padding: 0;
    font-size: 16px;
}

/*----- Big image under -----*/

.big-img-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.img-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.img-container img{
    z-index: -1;
    box-shadow: 0 0 25px 5px rgba(255, 255, 255, 0.349);
}

.img-container img, .shadow-overlay, .info-container {
    width: 80%;
    height: 100%;
}

.shadow-overlay {
    position: absolute;
    background-image: 
    linear-gradient(to right, #00000033, #00000027, #00000023);
    z-index: 0;
}

/*----- Text on image  -----*/

.info-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.textbox {
    width: 40%;
    height: 100%;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between; 
}

h2 {
    font-size: 90px;
    text-shadow: 10px 10px 8px rgba(0, 0, 0, 0.877);
    padding-top: 20px;
}

h3 {
    font-size: 18px;
    padding-top: 20px;
}

.textinfo {
    padding-bottom: 70px;
    width: 90%;
}

/*----- Heart Icon and Button under -----*/

.itembox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 70px;
    padding-right: 70px;
    padding-top: 70px;
}

.btn {
    width: 400px;
    height: 80px;
    background-image: 
    linear-gradient(to bottom, #072531, #106B8D, #106B8D, #072531);
    color: var(--white);
    border-radius: 50px;
    border: none;
    outline: 2px solid var(--whitefaded);
    font-size: 40px;
    cursor: pointer;
    transition: 0.3s ease;
}

.fa-regular {
    font-size: 40px;
    transition: 0.3 ease;
    color: var(--footer);   
}

.icon-container {
    display: flex;
    justify-content: end;
}


/*----- Suggested movies under -----*/

.top-movie-container-margin {
    margin-top: 60px; 
}

.container {
    width: 80%;
}

h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.sectionmovies {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.items {
    display: flex;
    gap: 1vw;
}

.title-container {
    position: relative;
}

.movieImg {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.moviecontainer {
    margin-bottom: 30px;
}

/* Movie title */

.movie-title {
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

h5 {
    margin: 0;
    font-size: 16px;
}

.small-movie-link {
    width: 100%;
    max-height: 100%;
}

/* Movie image */

.movieImg .movie{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    z-index: 2;
    box-shadow: 0 0 25px 1px rgba(95, 94, 94, 0.349);
}

/* Movie image Hover */

.movieImg .movie:hover{
    transition: 0.3s ease;
    transform: scale(1.04);
    cursor: pointer;
    box-shadow: 0 0 25px 1px rgba(183, 180, 180, 0.349);
}


/* ---------- @Media queries 1400px ---------- */

@media screen and (max-width: 1400px ){

    /* Big movie image */

    .img-container img, .shadow-overlay, .info-container {
        width: 90%;
        height: 100%;
    }
    h2 {
        font-size: 60px;
        padding-top: 0px;
    }
    h3 {
        font-size: 14px;
    }
    .textbox {
        padding-left: 35px;
    } 
    .textinfo {
        padding-bottom: 35px;
    }
    .itembox {
        padding-bottom: 35px;
        padding-right: 35px;
        padding-top: 35px;
    }


    /* Movies */

    .container {
        width: 90%;
    }
    .moviecontainer {
        margin-bottom: 15px;
    }
    .movie5{
        display: none;
    } 
    
    /* Button */

    .btn {
        width: 220px;
        height: 50px;
        font-size: 20px;
    }
}

/* ---------- @Media queries 850px ---------- */

@media screen and (max-width: 850px ){

    main {
        padding-bottom: 30px;
    }
    .pagename {
        font-size: 10px;
        font-weight: 100;
    }

    /* Big movie image */

    .big-img-container {
        display: block;
        width: 100%;
    }
    .img-container img {
        width: 100%;
        box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.349);
    }
    .img-container img {
        width: 100%;
        height: 100%;
    }
    .shadow-overlay {
        display: none;
    }

    /* Info on big image pushed down */

    .info-container {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        width: 100%;
    }
    .textbox {
        width: 90%;
        padding:0;
        padding-left: 15px;
    }
    .textinfo {
        width: 90%;
    }

    .itembox {
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px ;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 12px;
    }
    .fa-regular {
        color: var(--white);
        font-size: 20px;
    }
    .btn {
        width: 100px;
        height: 25px;
        font-size: 12px;
        outline: 1px solid var(--whitefaded);
    }
    
    /* Movies */

    .top-movie-container-margin {
        margin-top: 30px;
    }
    .container {
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
    }
    h4 {
        font-size: 14px;
        margin-bottom: 0;
    }
    h5 {
        font-size: 12px;
    }
    .items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
}