@import url(/SquareEyes/footer.css);
@import url(/SquareEyes/menu.css);
@import url(/SquareEyes/hover.css);

@import url(/SquareEyes/media-menu.css);
@import url(/SquareEyes/media-footer.css);

:root {
    --background: #0E0E0E;
    --white: #d9d9d9;
    --whitefaded: #d9d9d97c;
    --green: #06A917;
    --footer: #0A0A0A;
}

body {
    background-color: var(--background);
    margin: 0;
    color: var(--white);
}




/*=======================Main under=======================*/

main {
    padding-bottom: 60px;
    padding-top: 100px;
}

/* Removes all text margin */
h1, h2, h3, h4, h5, p {
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

/*----- Big image under -----*/

.img-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.img-container img{
    z-index: -1;
    box-shadow: 0 0 25px 5px rgba(255, 255, 255, 0.349);
}

.img-container img, .shadow-overlay, .info-container {
    width: 70%;
    height: 100%;
}

.shadow-overlay {
    position: absolute;
    background-color: #00000039;
    z-index: 0;
}


/*----- Big image above -----*/

/*----- Info over image under -----*/

.info-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
}

.checksign {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.btnbox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

/*---Button---*/

.btn {
    width: 300px;
    height: 60px;
    background-image: 
    linear-gradient(to bottom, #072531, #106B8D, #106B8D, #072531);
    color: var(--white);
    border-radius: 50px;
    border: none;
    outline: 2px solid var(--whitefaded);
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s ease;
}





/*----- Suggested movies under -----*/

.movie-container {
    padding-top: 150px;
    display: flex;
    justify-content: center;
}


.movie-itembox {
    display: flex;
    flex-direction: column;
    max-width: 1900px;
    padding: 0;
}

.text-container {
    display: flex;
}

.movies { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.movie {
    width: 350px;
}
